<table class="table is-hoverable">
 <tr>
  <th>予約した部屋</th>
  <td><%= @reservation.room.name %></td>
 </tr>

 <tr>
  <th>開始日</th>
  <td><%= @reservation&.start_at&.strftime("%Y年%m月%d日") %></td>
 </tr>

 <tr>
  <th>終了日</th>
  <td><%= @reservation&.end_at&.strftime("%Y年%m月%d日") %></td>
 </tr>

 <tr>
  <th>価格</th>
  <td><%= @reservation.sum_of_price %>円</td>
 </tr>

</table>